[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "~=2.2.10"
djangorestframework = "~=3.10.3"
psycopg2 = "~=2.8.4"
django-rest-swagger = "*"
coreapi = "*"
casbin = "==0.8.4"
casbin-sqlalchemy-adapter = "==0.1.0"
drf-hal-json = "*"
pyyaml = "*"
requests2 = "==2.16.0"

[requires]
python_version = "3.7"
